* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0 auto; }

/* grid */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 768px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (max-width: 576px) {
  .col-sx-1 {
    width: 8.33%; }

  .col-sx-2 {
    width: 16.66%; }

  .col-sx-3 {
    width: 25%; }

  .col-sx-4 {
    width: 33.33%; }

  .col-sx-5 {
    width: 41.66%; }

  .col-sx-6 {
    width: 50%; }

  .col-sx-7 {
    width: 58.33%; }

  .col-sx-8 {
    width: 66.66%; }

  .col-sx-9 {
    width: 75%; }

  .col-sx-10 {
    width: 83.33%; }

  .col-sx-11 {
    width: 91.66%; }

  .col-sx-12 {
    width: 100%; } }
.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px; }

/*nav section*/
nav {
  height: 47px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #191d26; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline-block;
      float: right;
      margin: 10px; }
      nav ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Parmament Marker', cursive;
        font-size: 1.6vw;
        margin: 0 3.3vw;
        cursor: pointer; }

.main {
  background-image: url(img/header.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 47px; }
  .main .slogan {
    width: 100%;
    text-align: center; }
    .main .slogan p {
      font-size: 4vw;
      color: #fff;
      font-family: 'Charm', cursive;
      text-align: center;
      margin: 0;
      padding-top: 180px;
      line-height: 100px; }
    .main .slogan button {
      height: 3vw;
      width: 14vw;
      font-size: 2vw;
      border-radius: 15px;
      transition: 0.4s;
      margin-top: 100px; }
    .main .slogan a {
      width: 11vw;
      height: 2vw;
      text-decoration: none;
      color: black;
      font-family: 'Kalam', cursive; }

.about {
  background-image: url(img/header.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding-top: 47px; }
  .about div .photo img {
    width: 68vh;
    height: 50vh;
    margin: 17vh 0 0 8vh; }
  .about .about-text {
    color: #fff;
    margin-top: 100px;
    font-size: 1.6vw;
    line-height: 1.6;
    padding: 30px;
    text-align: center;
    font-family: 'Courgette', cursive; }

.projects {
  background-image: url(img/header.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 47px; }
  .projects-style {
    margin: 0 auto;
    margin-top: 14vh; }
  .projects-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 27vh 33vh;
    height: 27vh;
    width: 33vh;
    transition: all 0.5s ease;
    background-position: center;
    background-size: cover;
    margin: 0 auto; }
    .projects-position .overlay {
      font-size: 1.3vw;
      text-align: center;
      visibility: hidden;
      top: 35%; }
      .projects-position .overlay p {
        color: #fff; }
    .projects-position .demo-button {
      margin-top: 25px;
      visibility: hidden; }
      .projects-position .demo-button a {
        padding: 8px 10px;
        text-decoration: none;
        font-size: 1.1vw;
        border-radius: 15px;
        background-color: #b7242e;
        color: black;
        border: 0; }
  .projects .game {
    background-image: url("img/vanilla-js.png"); }
  .projects .country {
    background-image: url("img/countrySearch.png"); }
  .projects .quote {
    background-image: url("img/randommachine.png"); }
  .projects .gif {
    background-image: url("img/gifSearch.png"); }
  .projects .kanban {
    background-image: url("img/kanban.png"); }
  .projects .bootstrap {
    background-image: url("img/bootstrap.png"); }

.contact {
  background-image: url(img/header.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding-top: 47px; }
  .contact div {
    text-align: center;
    height: 100%;
    position: relative; }
    .contact div a {
      position: absolute;
      top: 50%;
      left: 50;
      transform: translate(-50%, -50%); }
      .contact div a i {
        width: 130px;
        height: 130px;
        text-align: center;
        color: #fff;
        font-size: 120px;
        cursor: pointer;
        animation-play-state: paused; }

@media (min-width: 769px) {
  nav ul li:hover {
    animation-play-state: running; }

  .main .slogan button:hover {
    border: 0px;
    background-color: inherit;
    color: #fff; }
    .main .slogan button:hover a {
      color: #fff;
      cursor: pointer; }

  .projects-position:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(5, 17, 108, 0.6), rgba(5, 17, 108, 0.6)); }
    .projects-position:hover .overlay, .projects-position:hover .demo-button {
      visibility: visible; }

  .contact div a i:hover {
    animation-play-state: running; } }
@media (max-width: 768px) {
  nav ul li a {
    font-size: 3.6vw;
    text-align: center; }

  .main .slogan p {
    font-size: 3em;
    padding-top: 20vw; }
  .main .slogan button {
    height: 7vw;
    width: 24vw;
    font-size: 3vw; }

  .projects div .projects-style {
    max-width: none;
    margin-top: 40px; }

  .about div {
    height: 50%; }
    .about div .about-text {
      font-size: 2.2vw; }

  .contact div {
    height: 25%; }
    .contact div a i {
      height: 16vw;
      width: 16vw;
      font-size: 14vw; } }

/*# sourceMappingURL=index.css.map */
